<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Stock Market Predictor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
            <a class="navbar-brand" href="#">Stock Market Predictor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Popular Stocks
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Microsoft</a>
                            <a class="dropdown-item" href="#">Google</a>
                            <a class="dropdown-item" href="#">Amazon</a>
                            <a class="dropdown-item" href="#">Apple</a>
                            <a class="dropdown-item" href="#">Meta (Facebook)</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="container-fluid" style="padding:10vh;">
          <h2 style="text-align:center;font-weight:600;font-size:2.8em;">Stock Market Predictor</h2>
          <div class="container-fluid" style="padding-left:22vw;padding-right:22vw;">
              <p style="text-align: center;">
                  Stock Market Predictor that uses RNNs with LSTM to predict stock prices. Enter a S&amp;P
                  500 stock to see its prediction.
              </p>
              <form method="POST">
                  <div class="input-group mb-3 w-50 mx-auto" style="padding-top:5vh;">
                      <div class="position:relative;">
                          <input name="sname" id="sname" type="text" class="form-control" placeholder="Enter Stock Symbol" aria-label="Stock Symbol" aria-describedby="button-addon2">
                      </div>
                      <div class="input-group-append">
                          <input class="btn btn-outline-success my-2 my-sm-0" style="height:min-content;" type="submit" value="Search">
                      </div>
                  </div>
              </form>
          </div>

            <script>


            </script>
        </div>

        <footer class="footer mt-auto py-3 fixed-bottom">
          <div class="container">
            <span class="text-muted">Stock Market Predictor by Anirudh Karnam</span>
          </div>
        </footer>
    </body>
</html>